.Rproj.user
.Rhistory
.RData
.Ruserdata
.csv
.pdf
Calculating_shift_in_species_elevation.R
CWMs.vs.elev.Rmd
DATA-Megantic-Traits_20170317(2).xlsx
DATA-Megantic-Traits_20160921.xlsx
DATA-Megantic-Traits_20170313.xlsx
DATA-Megantic-Traits_20170315.xlsx
DATA-Megantic-Traits_20170316.xlsx
DATA-Megantic-Traits_20170317.xlsx
DATA-Megantic-Traits_20170320.xlsx
DATA-Megantic-Traits_20170323.xlsx
DATA-Megantic-Traits_20170324.xlsx
DATA-Megantic-Traits_20170326.xlsx
DATA-Megantic-Traits_20170327.xlsx
DATA-Megantic-Traits_20170328.xlsx
DATA-Megantic-Traits_20170329.xlsx
DATA-Megantic-Traits_20170405.xlsx
DATA-Megantic-Traits_20170728.xlsx
DATA-Megantic-Traits_20171019(b).xlsx
Elevation shifts 58 spp.xls
Elevation shifts 58 spp_20181127.xls
Elevation_shifts.csv
Elevation_shifts_20181127.csv
Fig.4 Elevation shifts 58 spp.xls
G.Hall_sp_by_site_corrected.csv
LMA_pour_Gabriel.xlsx
Max.Height.TRY.RData
MegTraits_20170315.csv
MegTraits_20170326.csv
MegTraits_20170327.csv
MegTraits_20170328.csv
MegTraits_20170405.csv
MegTraits_20170406.csv
MegTraits_20171019.csv
MegTraits_20171019.xlsx
MegTraits_20181106.csv
MegTraits_20181106.xlsx
MegTraits_20181119.csv
MegTraits_20181119.xlsx
MegTraits_20181127.csv
MegTraits_20181127.xlsx
Meg_20170315.xlsx
MeganticTraits.Rproj
Rmd_test_H.layer_lm&glm(abund~traits).Rmd
Rmd_test_H.layer_lm_glm_abund~traits_.pdf
Rplot.pdf
TRY.Seed.Size.txt
Traits.and.Abundance.pairplots.pdf
Untitled.Rmd
Untitled.pdf
WinRhizo2002a_Appendix1.pdf
myc.csv
mycorhizes.xlsx
mycorhizes_20170314.xlsx
plot - 2012 vs 1974 abundances.pdf
sp.abund.csv
sp.abund_20181127.csv
